@model IEnumerable<Member>
<div class="container p-4">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Member List</h2>
        </div>
        <div class="col-6 text-end">
           <a asp-controller="Member" asp-action="Create" class="btn btn-primary">Add New Member</a>
        </div>
    </div>
   
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
            <th class="text-white">
                    IGN
                </th>
            <th class="text-white">
                    Rank
                </th>
            <th class="text-white">
                    Tag Number
                </th>
            </tr>
        </thead>
        <tbody>
           @foreach(var obj in Model)
        {
            <tr>
                <td class="text-white">
                    @obj.IGN
                </td>
                <td class="text-white">
                    @obj.Rank
                </td>
                <td class="text-white">
                    @obj.TagNo
                </td>

            </tr>
        }
    </tbody>
    </table>
</div>